{% extends 'base.html.twig' %}

{% block body %}
    {% include "@App/top_nav.html.twig" %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title">Bet | {{ participant.getBet.name }}</h3>
                </div>
                <div class="col-md-6">
                    {{ participant.bet.description }}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.prediction) }}
                        {{ form_errors(form.prediction) }}
                        {{ form_widget(form.prediction) }}
                    </div>
                    {{ form_widget(form.save, {'attr': {'class':'btn btn-success'}}) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}