{% extends 'base.html.twig' %}

{% block body %}
    {% include "@App/top_nav.html.twig" %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <h3 class="panel-title">My Bets</h3>
                </div>
                <div class="col-xs-4 col-md-4">

                </div>
            </div>

        </div>
        <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2 col-md-2"><strong>Name</strong></div>
                    <div class="col-xs-3 col-md-3"><strong>Description</strong></div>
                    <div class="col-xs-2 col-md-2"><strong>Start Date</strong></div>
                    <div class="col-xs-4 col-md-4"><strong>Prediction</strong></div>
                    <div class="col-xs-1 col-md-1"><strong>Action</strong></div>
                </div>
            <hr />
            {% for participant_form in participant_forms %}
                {% set user_bet = participant_form.vars.data %}
                {{ form_start(participant_form) }}
                <div class="row" style="margin-bottom: 15px">
                    <div class="col-xs-2 col-md-2">{{ user_bet.bet.name }}</div>
                    <div class="col-xs-3 col-md-3">{{ user_bet.bet.description }}</div>
                    <div class="col-xs-2 col-md-2">{% if user_bet.bet.startdate %}{{ user_bet.bet.startdate | date }}{% else %} -- {% endif %}</div>
                    <div class="col-xs-4 col-md-4">
                        {{ form_errors(participant_form.prediction) }}
                        {{ form_widget(participant_form.prediction) }}
                    </div>
                    <div class="col-xs-1 col-md-1">{{ form_widget(participant_form.save, {'attr': {'class':'btn btn-success btn-sm'}}) }}</div>
                </div>
                {{ form_rest(participant_form) }}
                {{ form_end(participant_form) }}
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <h3 class="panel-title">All Bets</h3>
                </div>
                <div class="col-xs-4 col-md-4">

                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2 col-md-2"><strong>Name</strong></div>
                <div class="col-xs-7 col-md-7"><strong>Description</strong></div>
                <div class="col-xs-2 col-md-2"><strong>Start Date</strong></div>
                <div class="col-xs-1 col-md-1"><strong>Action</strong></div>
            </div>
            <hr />
            {% for bet in bets %}
                <div class="row" style="margin-bottom: 15px">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-2 col-md-2">{{ bet.name }}</div>
                            <div class="col-xs-7 col-md-7">{{ bet.description }}</div>
                            <div class="col-xs-2 col-md-2">{% if bet.startDate %}{{ bet.startDate | date }}{% else %}--{% endif %}</div>
                            <div class="col-xs-1 col-md-1"><a href="{{ path('edit_bet', {'id': bet.getId}) }}" class="btn btn-default">Edit</a></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="row">
                                    <div class="col-xs-4 col-md-2">
                                    </div>
                                    <div class="col-xs-4 col-md-4"><strong>Participants  </strong>
                                            <button class="btn btn-primary btn-xs" type="button" data-toggle="collapse"
                                                                                               data-target="#collapse-{{ loop.index0 }}">Show / Hide</button></div>
                                    <div class="col-xs-4 col-md-4"><strong>Prediction</strong></div>
                                </div>
                                <div  class="collapse" id="collapse-{{ loop.index0 }}">
                                    {% for user_bet in bet.userBets %}
                                        <div class="row">
                                            <div class="col-xs-4 col-md-2"></div>
                                            <div class="col-xs-4 col-md-4">{{ user_bet.user.fullName }}</div>
                                            <div class="col-xs-4 col-md-4">{{ user_bet.prediction | default(' -- ') }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>

            {% endfor %}
        </div>
    </div>

{% endblock %}