<div class="panel-body">
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                {{ form_label(form.amount) }}
                {{ form_errors(form.amount) }}
                {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-6 col-md-6">
                {{ form_label(form.sport_type) }}
                {{ form_errors(form.sport_type) }}
                {{ form_widget(form.sport_type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                {{ form_label(form.type) }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-6 col-md-6">
                {{ form_label(form.start_date) }}
                {{ form_errors(form.start_date) }}
                {{ form_widget(form.start_date) }}
            </div>

        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {{ form_label(form.participants) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h5>Add Participants </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="70%">Name</th>
                                <th width="30%">Action</th>
                            </tr>
                            </thead>
                        </table>
                        </div>
                        <div style=" display: block; height: 200px; overflow-y: scroll;">
                        <table class="table">
                            <tbody id="user-list">
                            {% for user in all_users %}
                                <tr class="user-list-item"
                                    data-id="{{ user.id }}"
                                    data-name="{{ user.getFullName }}"
                                    data-index="{{ loop.index0 }}"
                                    {% if assigned_users[user.id] is defined %}style="display: none;"{% endif %}>
                                    <td width="70%">
                                        {{ user.getFullName }}
                                    </td>
                                    <td width="30%">
                                        <button type="button"
                                                class="btn btn-sm btn-success add-participant">
                                            <i class="glyphicon glyphicon-plus"></i> Add
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h5>Remove Participants</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div id="bet_participants" data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}">

                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="70%">Name</th>
                                <th width="30%">Action</th>
                            </tr>
                            </thead>
                        </table>
                        <div style=" display: block; height: 200px; overflow-y: scroll;">
                        <table class="table">
                            <tbody class="participants-list">
                            {% for participant in form.participants %}
                                <tr class="cur-participant">
                                    <td width="70%">
                                        <div>
                                            {{ form_widget(participant.user_id) }}
                                        </div>
                                        {{ participant.vars.data.fullName }}
                                    </td>
                                    <td width="30%">
                                        <button type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-remove"></i> Remove</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">


    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success pull-right'}}) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>